.hero {
  height: 100vh;
}

.navbar {
  background-color: lightblue;
  ul {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
      }
    }
  }
}
