@import "./variables";

.hero {
  height: 100vh;
  button {
    margin: 2rem 0;
  }
}

.hero-text {
  h2 {
    font-size: $textM;
    font-weight: 400;
    color: $AccentLightBlue;
    border-bottom: 2px solid $AccentClrPink;
    margin-bottom: 0.5rem;
    width: max-content;
  }
  p {
    font-size: $textS;
  }
  div {
    display: flex;
    justify-content: center;
  }
}

.navbar {
  ul {
    display: none;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
  @media (min-width: 700px) {
    ul {
      display: flex;
      justify-content: space-between;
      padding: 1rem;
      li {
        list-style-type: none;
        a {
          text-decoration: none;
        }
      }
    }
  }
}
