.hero {
  height: 100vh;
}

.hero button {
  margin: 2rem 0;
}

.hero-text h2 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #68bbe5;
  border-bottom: 2px solid #e2008a;
  margin-bottom: 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.hero-text p {
  font-size: 0.9rem;
}

.hero-text div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar ul {
  display: none;
}

.navbar header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar header svg {
  color: #68bbe5;
  height: 2rem;
  width: 2rem;
}

.navbar header img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

@media (min-width: 700px) {
  .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem;
  }
  .navbar ul li {
    list-style-type: none;
  }
  .navbar ul li a {
    text-decoration: none;
  }
}

.mobile-menu {
  position: absolute;
  background-color: #1e1e20;
  top: 10%;
  width: 80%;
  height: 80vh;
  border-top-right-radius: 4px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  -webkit-transform: translateX(-125%);
          transform: translateX(-125%);
}

.mobile-menu ul {
  width: 100%;
}

.mobile-menu ul li {
  text-align: center;
  padding: 1rem;
}

.mobile-menu ul li a {
  color: #c5c6c7;
}

.mobile-menu.open {
  -webkit-transform: translateX(-7%);
          transform: translateX(-7%);
}

.hero-email {
  background-color: #1e1e20;
  padding: 5px;
  margin: 50px 0 0 0;
  border-radius: 3px;
}

@media (min-width: 700px) {
  .hero nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
  .hero nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    padding: 1rem 0 0 0;
  }
  .hero nav ul .last-li {
    border-right: none;
    padding-right: 0;
  }
  .hero nav ul li {
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #68bbe5;
  }
  .hero nav ul li a {
    color: #c5c6c7;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
  }
  .hero nav ul li a:hover {
    color: #fff;
  }
  .hero nav header {
    display: none;
  }
  .hero .hero-text {
    margin: 0rem 2rem 2rem 2rem;
    padding-top: 8rem;
  }
  .hero .hero-text h1 {
    font-size: 2rem;
  }
}

@media (min-width: 1000px) {
  .hero .hero-text {
    margin: 0rem 8rem 8rem 8rem;
    padding-top: 5rem;
  }
}
/*# sourceMappingURL=hero.css.map */