@import "./hero";
@import "./variables";
@import "./skills";
@import "./work";
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

@mixin flexCenter($direction, $margin, $padding) {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: $direction;
  margin: $margin;
  padding: $padding;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  color: $AccentLightBlue;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: $AccentDarkBlue;
  text-decoration: underline;
}

p {
  padding: 1.5rem 0;
  color: $TextClrSecondary;
  font-size: $textS;
}

h1 {
  font-size: 1.5rem;
  padding: 2rem 0 1rem 0;
  color: $TextClrPrimary;
  font-weight: 700;
}

ul {
  list-style: none;
}

.btn {
  outline: none;
  border: 2px solid $AccentLightBlue;
  font-weight: 700;
  font-size: $textMS;
  color: $AccentLightBlue;
  padding: 1rem 2rem;
  border-radius: 4px;
  background-color: transparent;
  margin: 1rem 0;
  cursor: pointer;
}

body {
  font-family: "Rubik", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  // width: 100%;
  background-color: $BgPrimary;
  color: $TextClrPrimary;
  letter-spacing: 1px;
}

.main {
  margin: 1rem;
}

.footer {
  margin: 4rem 0 0 0;
  h2 {
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 20px;
      left: 60%;
      margin-right: 1rem;
      margin-left: 10px;
      height: 1px;
      background-color: $AccentDarkBlue;
      width: 100px;
    }
  }
  p {
    margin: 2rem 0;
  }
}

.footer-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0 1rem;
}
