@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");
.hero {
  height: 100vh;
}

.hero button {
  margin: 1.5rem 0 2rem 0;
  border: 3px solid #e2008a;
}

.hero-text section {
  list-style: none;
  max-width: 500px;
}

.hero-text h2 {
  font-size: 1.2rem;
  font-weight: 400;
  color: #68bbe5;
  border-bottom: 2px solid #e2008a;
  margin-bottom: 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.hero-text p {
  font-size: 0.9rem;
}

.hero-text div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar ul {
  display: none;
}

.navbar header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar header svg {
  color: #68bbe5;
  height: 2rem;
  width: 2rem;
}

.navbar .mobile-profile-pic-container {
  width: 45px;
  height: 64px;
}

.navbar header img {
  width: 45px;
  height: 64px;
  border-radius: 70px;
}

@media (min-width: 700px) {
  .navbar ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1rem;
  }
  .navbar ul li {
    list-style-type: none;
  }
  .navbar ul li a {
    text-decoration: none;
  }
}

.header-icon {
  display: none;
}

.mobile-menu {
  position: absolute;
  background-color: #1e1e20;
  top: 0%;
  width: 100%;
  height: 80vh;
  border-top-right-radius: 4px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  -webkit-transform: translateX(-125%);
          transform: translateX(-125%);
}

.mobile-menu div {
  text-align: right;
}

.mobile-menu div i {
  padding: 1rem;
}

.mobile-menu ul {
  width: 110%;
  padding-top: 100px;
}

.mobile-menu ul li {
  text-align: center;
  padding: 1rem;
}

.mobile-menu ul li a {
  color: #c5c6c7;
  text-decoration: none;
}

.mobile-menu.open {
  -webkit-transform: translateX(-5.5%);
          transform: translateX(-5.5%);
}

.hero-email {
  color: #68bbe5;
  padding: 5px;
  margin: 50px 0 0 0;
  border-radius: 3px;
}

@media (min-width: 700px) {
  .hero {
    height: 100vh;
  }
  .hero nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hero nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
    padding: 1rem 0 0 0;
  }
  .hero nav ul .last-li {
    border-right: none;
    padding-right: 0;
  }
  .hero nav ul li {
    padding-left: 1rem;
    padding-right: 1rem;
    border-right: 1px solid #68bbe5;
  }
  .hero nav ul li a {
    color: #c5c6c7;
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
  }
  .hero nav ul li a:hover {
    color: #fff;
  }
  .hero nav header {
    display: none;
  }
  .hero .hero-text {
    padding-top: 3rem;
  }
  .hero .hero-text h1 {
    font-size: 2rem;
  }
  .header-icon {
    display: block;
  }
}

@media (min-width: 1050px) {
  .hero {
    height: 100vh;
  }
  .hero .hero-text {
    margin: 0rem 8rem 8rem 8rem;
    padding-top: 3rem;
  }
}

.skills {
  margin: 4rem 0;
}

.skills h2 {
  position: relative;
}

.skills h2::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  margin-left: 100px;
  height: 1px;
  background-color: #4e53a5;
  width: 180px;
}

.skills span {
  font-size: 0.9rem;
}

.skills ul li {
  font-size: 0.9rem;
  color: #68bbe5;
  padding-bottom: 0.8rem;
}

.skills ul li::before {
  content: "";
  height: 9px;
  width: 9px;
  top: -3px;
  margin-right: 10px;
  position: relative;
  display: inline-block;
  border-radius: 8px;
  color: #e2008a;
  background-color: #e2008a;
}

.skills .skills-text-img img {
  display: none;
}

@media (min-width: 750px) {
  .skills .skills-text-img {
    display: -ms-grid;
    display: grid;
    gap: 2rem;
    -ms-grid-columns: 70% 30%;
        grid-template-columns: 70% 30%;
  }
  .skills .skills-text-img img {
    height: 233px;
    width: 175px;
    display: block;
    margin-top: 2rem;
    border-radius: 4px;
    -webkit-filter: grayscale(100%) contrast(1);
            filter: grayscale(100%) contrast(1);
  }
  .skills h2 {
    position: relative;
  }
  .skills h2::after {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    margin-left: 105px;
    height: 1px;
    background-color: #4e53a5;
    width: 200px;
  }
}

@media (min-width: 1000px) {
  .skills {
    margin: 0rem 8rem 2rem 8rem;
    padding-top: 8rem;
  }
  .skills h2 {
    position: relative;
  }
  .skills h2::after {
    width: 500px;
  }
}

.work {
  margin-top: 2rem;
}

.work h2 {
  margin-bottom: 4rem;
  position: relative;
}

.work h2::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  margin-left: 145px;
  height: 1px;
  background-color: #4e53a5;
  width: 135px;
}

.project-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1e1e20;
  max-width: 90vw;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 4px;
  outline: 1px solid #4e53a5;
}

.project-card h3 {
  margin-bottom: 1rem;
  z-index: 3;
}

.project-card ul {
  margin: 1rem 0 2rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #c5c6c7;
}

.project-card li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.project-card svg {
  margin-right: 10px;
  color: #68bbe5;
}

.project-card .project-card-links-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-card .project-card-links-mobile .overlay-btn {
  background-color: #e2008a;
  border: 2px solid #e2008a;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
}

.project-card .project-card-links-mobile .overlay-btn:hover {
  background-color: #c3077b;
}

.project-card .project-card-overlay {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #101011;
  opacity: 0;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.project-card .project-card-overlay h5 {
  font-size: 1.5rem;
}

.project-card .project-card-overlay a {
  color: #68bbe5;
}

.project-card .project-card-overlay .overlay-btn {
  background-color: #e2008a;
  border: 2px solid #e2008a;
  color: #fff;
  text-decoration: none;
}

.project-card .project-card-overlay .overlay-btn:hover {
  background-color: #c3077b;
}

.project-card .project-card-overlay:hover {
  opacity: 0.95;
}

.desktop-img {
  height: 195px;
  width: 255px;
}

.mobile-img {
  height: 300;
  width: 168px;
}

.pexels-img {
  margin-top: 2rem;
  width: 255px;
  height: 164px;
}

.notes-img {
  width: 255px;
  height: 172px;
}

.pexels-overlay-text {
  margin-top: 2rem;
}

@media (min-width: 750px) {
  .work {
    margin-top: 2rem;
  }
  .work h2 {
    margin-bottom: 4rem;
    position: relative;
  }
  .work h2::after {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    margin-left: 150px;
    height: 1px;
    background-color: #4e53a5;
    width: 200px;
  }
  .work .project-card {
    max-width: 500px;
  }
  .work .project-card .project-card-links-mobile {
    display: none;
    color: red;
  }
  .work .project-card .project-card-overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1000px) {
  .work {
    margin: 0rem 8rem 2rem 8rem;
    padding-top: 8rem;
  }
  .work h2 {
    margin-bottom: 4rem;
    position: relative;
  }
  .work h2::after {
    width: 500px;
  }
}

.services h2 {
  margin-bottom: 2rem;
}

.services li {
  font-size: 1rem;
  font-weight: 400;
  color: #68bbe5;
  border-bottom: 2px solid #e2008a;
  margin-bottom: 0.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

@media (min-width: 750px) {
  .services h2 {
    position: relative;
  }
  .services h2::after {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    margin-left: 295px;
    height: 1px;
    background-color: #4e53a5;
    width: 200px;
  }
}

@media (min-width: 1000px) {
  .services {
    margin: 0rem 8rem 2rem 8rem;
    padding-top: 8rem;
  }
  .services h2 {
    position: relative;
  }
  .services h2::after {
    width: 350px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

i {
  color: #68bbe5;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: #68bbe5;
  text-decoration: underline;
}

a:hover {
  color: #6167d1;
}

p {
  padding: 1.5rem 0;
  color: #c5c6c7;
  font-size: 0.9rem;
  max-width: 500px;
  line-height: 1.5;
}

h1 {
  font-size: 1.5rem;
  padding: 2rem 0 1rem 0;
  color: #fff;
  font-weight: 700;
}

ul {
  list-style: none;
  max-width: 500px;
}

.btn {
  outline: none;
  border: 2px solid #68bbe5;
  font-weight: 700;
  font-size: 1rem;
  color: #68bbe5;
  padding: 1rem 2rem;
  border-radius: 4px;
  background-color: transparent;
  margin: 1rem 0;
  cursor: pointer;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.btn:hover {
  background-color: #19313d;
}

body {
  font-family: "Rubik", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #101011;
  color: #fff;
  letter-spacing: 1px;
}

.main {
  margin: 1rem;
}

.footer {
  margin: 4rem 0 0 0;
}

.footer h2 {
  position: relative;
}

.footer h2::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  left: 60%;
  margin-right: 1rem;
  margin-left: 10px;
  height: 1px;
  background-color: #4e53a5;
  width: 100px;
}

.footer p {
  margin: 2rem 0;
}

.footer-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.footer-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-icons li {
  padding: 5px 5px 0 5px;
  border-radius: 4px;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
}

.footer-icons li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: 0.9rem;
}

.footer-icons li a p {
  padding: 10px 0 0 0;
  margin: 0;
  color: #4e53a5;
}

.footer-icons li:hover {
  background-color: rgba(226, 0, 138, 0.3);
}

.footer-icons svg {
  height: 24px;
  width: 24px;
}

.footer-copyright p {
  padding-bottom: 0;
  color: #999;
  text-align: center;
}

@media (min-width: 750px) {
  .main {
    margin: 0rem 3rem 2rem 3rem;
  }
  .footer h2::after {
    width: 200px;
    left: 30%;
  }
  .footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1000px) {
  .footer {
    margin: 0rem 8rem 2rem 8rem;
    padding-top: 8rem;
  }
  .footer h2 {
    position: relative;
  }
  .footer h2::after {
    width: 500px;
    left: 30%;
    margin-right: 1rem;
    margin-left: 10px;
  }
  .footer-icons {
    margin: 0 auto;
  }
}

@media (min-width: 550px) {
  .footer ul {
    margin: 0 auto 2rem auto;
  }
}

.fade-in {
  opacity: 0;
  -webkit-transition: opacity 800ms ease-in;
  transition: opacity 800ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */