$BgPrimary: #101011;
$BgSecondary: #1e1e20;
$BgSecondary: #28282b;

$TextClrPrimary: #fff;
$TextClrSecondary: #c5c6c7;

$AccentLightBlue: rgb(0, 140, 255);
$AccentLightBlueHover: rgb(81, 177, 255);
$AccentYlw: #fdf100;
$AccentDarkBlue: #4e53a5;
$AccentDarkBlueBorder: rgba(78, 83, 165, 0.5);
$AccentClrPink: #e2008a;

$primaryBtnBg: #68bbe5;
$primaryBtnBgHov: #2ea6e2;
$primaryBtnClr: #fff;

$textLrg: 2rem;
$textML: 1.5rem;
$textM: 1.2rem;
$textMS: 1rem;
$textS: 0.9rem;
$textXS: 0.6rem;
