$BgPrimary: #101011;
$BgSecondary: #2b2b2f;

$TextClrPrimary: #fff;
$TextClrSecondary: #c5c6c7;

$AccentLightBlue: #68bbe5;
$AccentYlw: #fdf100;
$AccentDarkBlue: #4e53a5;
$AccentClrPink: #e2008a;

$primaryBtnBg: #68bbe5;
$primaryBtnBgHov: #2ea6e2;
$primaryBtnClr: #fff;

$textLrg: 2rem;
$textML: 1.5rem;
$textM: 1.2rem;
$textMS: 1rem;
$textS: 0.9rem;
$textXS: 0.6rem;
