@import "./variables";

.work {
  margin-top: 2rem;
  h2 {
    margin-bottom: 4rem;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 20px;
      margin-left: 145px;
      height: 1px;
      background-color: $AccentDarkBlue;
      width: 135px;
    }
  }
}

.project-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.project-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $BgSecondary;
  max-width: 90vw;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 4px;
  outline: 1px solid $AccentDarkBlueBorder;
  h3 {
    margin-bottom: 1rem;
    z-index: 3;
  }
  ul {
    margin: 1rem 0 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $TextClrSecondary;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
  }
  svg {
    margin-right: 10px;
    color: $AccentLightBlue;
  }
  .project-card-links-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .overlay-btn {
      background-color: #e2008a;
      border: 2px solid #e2008a;
      color: #fff;
      text-decoration: none;
      text-align: center;
      padding: 0.5rem;
      margin: 0.5rem;
      &:hover {
        background-color: #c3077b;
      }
    }
  }
  .project-card-overlay {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 4px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #101011, $alpha: 1);
    opacity: 0;
    transition: ease-in-out 0.3s;
    h5 {
      font-size: $textML;
    }
    a {
      color: $AccentLightBlue;
    }
    .overlay-btn {
      background-color: #e2008a;
      border: 2px solid #e2008a;
      color: #fff;
      text-decoration: none;
      &:hover {
        background-color: #c3077b;
      }
    }
    &:hover {
      opacity: 0.95;
    }
  }
}
.desktop-img {
  height: 195px;
  width: 255px;
}
.mobile-img {
  height: 300;
  width: 168px;
}
.pexels-img {
  margin-top: 2rem;
  width: 255px;
  height: 164px;
}
.notes-img {
  width: 255px;
  height: 172px;
}

.pexels-overlay-text {
  margin-top: 2rem;
}

@media (min-width: 750px) {
  .work {
    margin-top: 2rem;
    h2 {
      margin-bottom: 4rem;
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        margin-left: 150px;
        height: 1px;
        background-color: $AccentDarkBlue;
        width: 200px;
      }
    }
    .project-card {
      max-width: 500px;
      .project-card-links-mobile {
        display: none;
        color: red;
      }
      .project-card-overlay {
        display: flex;
      }
    }
  }
}

@media (min-width: 1000px) {
  .work {
    margin: 0rem 8rem 2rem 8rem;
    padding-top: 8rem;
    h2 {
      margin-bottom: 4rem;
      position: relative;
      &::after {
        width: 500px;
      }
    }
  }
}
