.work {
  margin-top: 2rem;
}

.work h2 {
  margin-bottom: 4rem;
  position: relative;
}

.work h2::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  margin-left: 145px;
  height: 1px;
  background-color: #4e53a5;
  width: 135px;
}

.project-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1e1e20;
  max-width: 90vw;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 4px;
}

.project-card h3 {
  margin-bottom: 1rem;
}

.project-card ul {
  margin: 1rem 0 2rem 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #c5c6c7;
}

.project-card li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.project-card svg {
  margin-right: 10px;
  color: #68bbe5;
}

.project-card .project-card-links-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-card .project-card-links-mobile .overlay-btn {
  background-color: #e2008a;
  border: 2px solid #e2008a;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 0.5rem;
  margin: 0.5rem;
}

.project-card .project-card-links-mobile .overlay-btn:hover {
  background-color: #c3077b;
}

.project-card .project-card-overlay {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #101011;
  opacity: 0;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.project-card .project-card-overlay h5 {
  font-size: 1.5rem;
}

.project-card .project-card-overlay a {
  color: #68bbe5;
}

.project-card .project-card-overlay .overlay-btn {
  background-color: #e2008a;
  border: 2px solid #e2008a;
  color: #fff;
  text-decoration: none;
}

.project-card .project-card-overlay .overlay-btn:hover {
  background-color: #c3077b;
}

.project-card .project-card-overlay:hover {
  opacity: 0.95;
}

.desktop-img {
  height: 195px;
  width: 255px;
}

.mobile-img {
  height: 300;
  width: 168px;
}

.pexels-img {
  width: 255px;
  height: 164px;
}

.notes-img {
  width: 255px;
  height: 172px;
}

@media (min-width: 750px) {
  .work {
    margin-top: 2rem;
  }
  .work h2 {
    margin-bottom: 4rem;
    position: relative;
  }
  .work h2::after {
    content: "";
    display: block;
    position: absolute;
    top: 20px;
    margin-left: 150px;
    height: 1px;
    background-color: #4e53a5;
    width: 200px;
  }
  .work .project-card {
    max-width: 500px;
  }
  .work .project-card .project-card-links-mobile {
    display: none;
    color: red;
  }
  .work .project-card .project-card-overlay {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1000px) {
  .work {
    margin: 0rem 8rem 2rem 8rem;
    padding-top: 8rem;
  }
  .work h2 {
    margin-bottom: 4rem;
    position: relative;
  }
  .work h2::after {
    width: 500px;
  }
}
/*# sourceMappingURL=work.css.map */