@import "./variables";

.work {
  h2 {
    margin-bottom: 4rem;
    position: relative;
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 20px;
      margin-left: 145px;
      height: 1px;
      background-color: $AccentDarkBlue;
      width: 135px;
    }
  }
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $BgSecondary;
  max-width: 90vw;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 4px;
  h5 {
    margin-bottom: 1rem;
  }
  ul {
    margin: 1rem 0 2rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: $TextClrSecondary;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
  }
  svg {
    margin-right: 10px;
    color: $AccentLightBlue;
  }
}
.desktop-img {
  height: 195px;
  width: 255px;
}
.mobile-img {
  height: 300;
  width: 168px;
}
.pexels-img {
  width: 255px;
  height: 164px;
}
.notes-img {
  width: 255px;
  height: 172px;
}

@media (min-width: 750px) {
  .work {
    h2 {
      margin-bottom: 4rem;
      position: relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 20px;
        margin-left: 150px;
        height: 1px;
        background-color: $AccentDarkBlue;
        width: 200px;
      }
    }
  }
}
